<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hi!</h1>
    <form action="/images" method="post" enctype="multipart/form-data" class="field">
        <fieldset>
            <label for="image">Input image</label>
            <input type="file" name="image" id="image">

            <label for="filename">Output filename</label>
            <input type="text" name="filename" id="filename" placeholder="your result filename">

            <input type="submit" value="Process this">
        </fieldset>
    </form>
</body>

</html>